################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/DX_BABAISYOU/EngineCore/ThirdParty/DirectxTex/Release/DirectXTex.lib
/DX_BABAISYOU/EngineCore/ThirdParty/DirectxTex/Release/DirectXTex.lib
/DX_BABAISYOU/EngineCore/ThirdParty/DirectxTex/Release/DirectXTex.lib
